<% if @post.errors.any? %>
    <ul class="alert alert-danger" role="alert">
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
